.content-wrapper {
    background: #cdcdcd;
    height: 100%;
}

.content {
    position: relative;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 70px;
}

.content__gotw {
    font-size: 15px;
    font-family: Source Sans Pro Bold, "Arial", monospace;
    line-height: 19px;
    margin: 20px 0;
}

.content__small-spot-list {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}
