.bigspot {
    position: relative;
    display: flex;
    height: 370px;
    justify-content: center;
    align-items: center;
}

.bigspot__lazy {
    display: block;
    position: absolute;
    z-index: 2;
    height: 370px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.bigspot__overlay {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%);
    transition: all 0.3s;

    &:hover {
        opacity: 1;
    }

    .bigspot__title {
        position: absolute;
        padding: 30px;
        bottom: 0;
        color: #fff;
        font-family: Source Sans Pro Bold, "Arial", monospace;
        font-size: 36px;
        line-height: 36px;
    }

    .bigspot__buy-block {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 30px;
        display: flex;
    }

    .bigspot__discount {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f2f2f2;
        font-size: 18px;
        line-height: 20px;
        background: #00905e;
        border-radius: 2px;
        margin-right: 6px;
        padding: 5px;
    }

    .bigspot__buy-button {
        color: #404040;
        font-size: 18px;
        line-height: 20px;
        background: #e0e0e0;
        border: 1px solid #979797;
        box-shadow: 0px 1px 1px rgba(198, 198, 198, 0.5);
        border-radius: 2px;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0px 2px 1px rgba(198, 198, 198, 0.2);
            background: #eee;
            cursor: pointer;
        }

        &.owned {
            border: 1px solid rgba(151, 151, 151, 1);
            color: rgba(151, 151, 151, 1);

            &:hover {
                cursor: auto;
                background: inherit;
            }
        }
    }
}
